<div class="Exercises-page-wrapper">
  <!-- // -->
  <div class="funcionalities-div-wrapper">
    <div class="search-filter-exercises">
      <form [formGroup]="searchForm">
        <input
          type="text"
          formControlName="searchParametars"
          placeholder="Search"
        />
      </form>
    </div>
    <div class="filter-button">
      <button (click)="toggleMenu()" class="toggle-button">
        filter exercises
      </button>
      <div class="filter-menu" [ngClass]="{ show: isFilterMenuOpen }">
        <ul>
          <li (click)="filterByLevelDiff()">by level</li>
          <li>testing</li>
          <li (click)="toggleSubmenu()">by muscle group</li>
          <div class="filter-submenu" [ngClass]="{ show: isFilterSubmenuOpen }">
            <ul>
              <li (click)="getMuscleGroup('biceps')">biceps</li>
              <li>triceps</li>
              <li>chest</li>
            </ul>
          </div>
          <li>testing overflow</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="exercises-cards-wrapper">
    <div *ngIf="deafultExercises" class="exercises-cards-container">
      <ul *ngFor="let exercise of exercises">
        <li>
          <div class="exercise-card">
            <div>{{ exercise.WorkOut }}</div>
            <div>{{ exercise.Intensity_Level }}</div>
            <div>{{ exercise.Muscles }}</div>
          </div>
        </li>
      </ul>
    </div>
    <!-- // -->
    <div class="exercises-cards-container">
      <ul *ngFor="let Muscles of exercises">
        <li>
          <div class="exercise-card">
            <div>{{ Muscles.WorkOut }}</div>
            <div>{{ Muscles.Intensity_Level }}</div>
            <div>{{ Muscles.Equipment }}</div>
          </div>
        </li>
      </ul>
    </div>
    <!-- // -->
  </div>
</div>
