<div class="home-wrapper">
  <div>
    <h2>Welcome to dream gym</h2>
    <h3>
      Here u can choose diff of exercises and learn something about them. On
      "programs" page u can choose your desired strength program and also some
      cardio exercises. On "exercises" page u can choose exercises of many types
      we offer. to do
    </h3>
  </div>
</div>

<div>
  <ul *ngFor="let exercise of gymExercises">
    <li>{{ exercise.WorkOut }}</li>
  </ul>
</div>

<ng-container *ngIf="isHamMenuOpen">
  <div class="opened-navbar">
    <div class="navbar-content">
      <ul class="navbar-ul">
        <li class="navbar-li">Home</li>
        <li class="navbar-li">Programas</li>
        <li class="navbar-li">Trainers</li>
        <li class="navbar-li">exercises</li>
        <li class="navbar-li">contact</li>
      </ul>
    </div>
  </div>
</ng-container>
