<div class="welcome-page-wrapper">
  <div class="welcome-text-wrapper">
    <div class="welcome-text-container">
      <h1>Welcome to Dream Gym</h1>
    </div>
  </div>
  <div class="forms-wrapper-container">
    <form
      class="form-container"
      *ngIf="isSigninFormOpened"
      [formGroup]="signInForm"
      (ngSubmit)="onSignInSubmit()"
    >
      <div class="close-form-button">
        <div
          (click)="closeFormsOnButton()"
          class="close-button-img-container"
        ></div>
      </div>

      <h2>Create new account</h2>

      <label for="name">Name:</label>
      <input type="text" formControlName="name" />
      <span
        class="invalid-form-message"
        *ngIf="
          !signInForm.get('name')?.valid && signInForm.get('name')?.touched
        "
        >You can't use special and space characters! <br />
        Password must contain more than 4 characters!
      </span>

      <label for="email">Email:</label>
      <input type="email" formControlName="email" />
      <span
        class="invalid-form-message"
        *ngIf="
          !signInForm.get('email')?.valid && signInForm.get('email')?.touched
        "
        >Enter valid E-mail!
      </span>

      <label for="password" type="password">Password:</label>
      <input type="password" formControlName="password" />
      <span
        class="invalid-form-message"
        *ngIf="
          !signInForm.get('password')?.valid &&
          signInForm.get('password')?.touched
        "
        >Password must contain more than 4 characters!</span
      >

      <div class="submit-form-container">
        <button
          [disabled]="!signInForm.valid"
          class="submit-form-button"
          type="submit"
        >
          {{ logInForm.valid ? "Create account" : "Enter valid data!" }}
        </button>
      </div>
    </form>
    <form
      *ngIf="isloginFormOpened"
      class="form-container"
      [formGroup]="logInForm"
      (ngSubmit)="onlogInSubmit()"
    >
      <div class="close-form-button">
        <div
          (click)="closeFormsOnButton()"
          class="close-button-img-container"
        ></div>
      </div>

      <h2>Log in to your account</h2>

      <label for="name">Name:</label>
      <input type="text" formControlName="name" />
      <span
        class="invalid-form-message"
        *ngIf="!logInForm.get('name')?.valid && logInForm.get('name')?.touched"
        >You can't use special and space characters! <br />
        Password must contain more than 4 characters!
      </span>

      <label for="password" type="password">Password:</label>
      <input type="password" formControlName="password" />
      <span
        class="invalid-form-message"
        *ngIf="
          !logInForm.get('password')?.valid &&
          logInForm.get('password')?.touched
        "
        >Password must contain more than 4 characters!</span
      >

      <button
        type="submit"
        [disabled]="!logInForm.valid"
        class="submit-form-button"
      >
        {{ logInForm.valid ? "Login" : "Enter valid data!" }}
      </button>
    </form>

    <ng-container *ngIf="isHamMenuOpen">
      <div class="opened-navbar">
        <div class="navbar-content">
          <ul class="navbar-ul">
            <li class="navbar-li" (click)="openSigninForm()">Sign in</li>
            <li class="navbar-li" (click)="openLoginForm()">Log in</li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- 
page not found uradi home page uradi -->
