<div class="header-wrapper">
  <div class="header-bar">
    <div class="logo-container">
      <img class="logo-img" src="../../assets/images/logo-img.png" alt="logo" />
    </div>

    <div class="hamburger-menu">
      <span (click)="updateHamMenuBooleanValue()">&#x2630;</span>
    </div>

    <div class="navbar-container">
      <button
        [disabled]="togglingFormLogin"
        (click)="updateToggleValueSignin()"
        class="header-button"
      >
        sign in
      </button>
      <button
        [disabled]="togglingFormSignin"
        (click)="updateToggleValueLogin()"
        class="header-button"
      >
        log in
      </button>
    </div>
  </div>
</div>
