.header-bar {
  height: 60px;
  background: linear-gradient(
    0.33turn,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  z-index: 2;
}

/* LOGO START */
.logo-container {
  margin-left: 40px;
}

.logo-img {
  width: 70px;
  height: 60px;
  transition: transform 0.5s;
}

.logo-img:hover {
  transform: scale(2);
  cursor: pointer;
}
/* LOGO END */

/* HEADER BUTTONS START */
.navbar-container {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: right;
}

.header-button {
  width: max-content;
  height: 30px;
  background-color: var(--buttons);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 15px;
  border: solid 2px black;
  border-radius: 3px;
  transition: transform 0.5s;
}

.header-button:hover {
  transform: scale(1.1);
  color: var(--buttons);
  background-color: white;
  cursor: pointer;
}
/* HEADER BUTTONS END */

.hamburger-menu {
  display: none;
}

span {
  cursor: pointer;
  transition: transform 1s;
}

span:hover {
  transform: scale(2);
}

/* MOBILE WIDTH START */
@media screen and (max-width: 400px) {
  .navbar-container {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    color: aliceblue;
    margin: 0 25px;
  }

  .header-button {
    margin: 5px;
  }
}
/* MOBILE WIDTH END */
